{
  "name": "{{APP_NAME}}",
  "sourceRoot": "apps/{{APP_NAME}}/src",
  "projectType": "application",
  "targets": {
    "dev": {
      "executor": "@nx/vite:dev-server",
      "options": {
        "buildTarget": "{{APP_NAME}}:build",
        "port": {{DEV_PORT}}
      }
    },
    "build": {
      "executor": "@nx/vite:build",
      "outputs": ["{options.outputPath}"],
      "options": {
        "outputPath": "dist/apps/{{APP_NAME}}",
        "configFile": "apps/{{APP_NAME}}/vite.config.js"
      }
    },
    "preview": {
      "executor": "@nx/vite:preview-server",
      "options": {
        "buildTarget": "{{APP_NAME}}:build",
        "port": {{PREVIEW_PORT}}
      }
    },
    "lint": {
      "executor": "@nx/eslint:lint",
      "outputs": ["{options.outputFile}"],
      "options": {
        "lintFilePatterns": ["apps/{{APP_NAME}}/**/*.{js,jsx}"]
      }
    },
    "deploy": {
      "dependsOn": ["build"],
      "executor": "nx:run-commands",
      "options": {
        "command": "npx gh-pages -d dist/apps/{{APP_NAME}} --repo {{REPO_URL}}"
      }
    },
    "release-deploy": {
      "dependsOn": ["build"],
      "executor": "nx:run-commands",
      "options": {
        "commands": [
          "nx release version --projects={{APP_NAME}}",
          "nx release changelog --projects={{APP_NAME}}",
          "npx gh-pages -d dist/apps/{{APP_NAME}} --repo {{REPO_URL}}"
        ],
        "parallel": false
      }
    }
  }
}